---
import NoteLayout from "../../layouts/NoteLayout.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content, headings } = await render(note);
---

<NoteLayout headings={headings}>
  <div class="prose">
    <Content />
  </div>
</NoteLayout>
