---
import SpeedInsights from "@vercel/speed-insights/astro";
import "../styles/global.css";
---

<html data-theme="retro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/htmx.min.js" is:inline></script></head
  >

  <body>
    <SpeedInsights />
    <slot />
  </body>
</html>
